[submodule "third_party/common"]
	path = third_party/common
	url = git@github.com:bowen-zhang/common.git
[submodule "third_party/mongo_utils"]
	path = third_party/mongo_utils
	url = git@github.com:bowen-zhang/mongo_utils.git
